/*Resets*/
* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%; 
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

svg {
    height:  100%;
    width: 100%;
}